.hero-post {
  min-height: 33.5rem;
  .hero-content {
    align-items: unset !important;
    flex-direction: column;
  }
}
.post-content {
  position: relative;
  top: -5rem;
  margin-bottom: -5rem;
  background: $post-bg;
  padding-bottom: 5rem !important;
  .content-block {
    max-width: 800px;
    margin: auto;
    .lead-l {
      font-weight: 600;
    }
    p {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 1.5rem;
    }
  }
}
.post-social {
  position: absolute;
  right: 100%;
  padding: 0 3rem;
  a {
    color: white;
    margin: .2rem;
    // opacity: .5;
    transition: transition(.3s);
    background: $text-regular;
    padding: 0.5rem;
    border-radius: 50%;
    line-height: 0;
    &:hover {
      opacity: 1;
    }
  }
}
.post-youtube {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#why-us-banner {
  .hero-bg {
    background-position: center top !important;
  }
}
.contact-map {
  height: 500px;
}
.contact-form {
  border-top: #efefef 1px solid;
}
.contact-success-icon {
  .fa-comment {
    font-size: 125px;
    opacity: 0.2;
  }
  .fa-check {
    position: absolute;
    color: #009688;
    font-size: 46px;
  }
}
