.display-xl {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -5px;
}

.display-l {
  font-weight: 600;
  font-size: 2.7rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -3px;
}

.display-m {
  font-weight: 600;
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -3px;
}

.display-s {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -2px;
}

.pre-display {
  font-size: 1.35rem;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.lead-xl {
  font-weight: 500;
  line-height: 2;
  font-size: 1.8rem;
}

.lead-l {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.2rem;
}

.light-weight {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.heavy-weight {
  font-weight: 600;
}

.over-weight {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.wide {
  letter-spacing: .2rem;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.light-grey {
  color: #737478;
}
